@model IEnumerable<MapMVCWebApp.Models.Location>

@{
    ViewData["Title"] = "Saved Locations";
}

<h1>Saved Locations</h1>

<form asp-controller="Locations" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="searchQuery" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
                <td>
                    <div class="btn-group">
                        <a onclick="showInPopup('@item.Id')" class="btn btn-warning">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <form asp-action="Delete" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to delete this entry?')">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="form-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    showInPopup = (itemID) => {
        $.ajax({
            type: "GET",
            url: 'Locations/Edit/' + itemID,
            success: function(response) {
                $("#form-modal .modal-body").html(response);
                $("#form-modal").modal('show');
            }
        });
    }
</script>
}